@{
    ViewData["Title"] = "Hola mundo";
<<<<<<< HEAD
    ViewData["Title2"] = "Hola aremi";
=======
    ViewData["Title3"] = "k p2";
>>>>>>> k p2
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
